:root {
  --color-white: #f8f8f8;
  --color-black: #171B1B;
  --color-gray: #ababad;
  --color-base: var(--color-white);
  --color-bg-base: var(--color-black);
  --color-bg-base-hover: #242528;
  --color-bg-base-thin: #1B1D21;
  --color-border: #797c814d;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  height: 100vh;
  color: var(--color-base);
  background-color: var(--color-bg-base);
}

h1 {
  font-size: 3.2rem;
}