body {
  margin: 0;
  line-height: 1;
}

/* h1, h2 {
  margin: 0;
} */
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:-webkit-any-link {
  color: inherit;
}